@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-8">
        <img src="https://www.tacoma.uw.edu/sites/default/files/styles/node_gallery_display/public/node_gallery/21462253_1828769150472531_4506642702049719310_n.jpg?itok=gQ8t2r7Q" alt="First Gen Fellows" style="width:575px;height:375px;">
        <br /><br />
        <img src="https://www.tacoma.uw.edu/sites/default/files/styles/node_gallery_display/public/node_gallery/2.png?itok=H2Ua0fmt" alt="First Gen Fellows" style="width:575px;height:375px;">

        <br /><br />
    </div>

    <div class="col-md-4">


        <h3> First Gen Fellows </h3>
        <p>
            First Gen Fellows also referred as “First Generation College Students” is a program that provides individualized support to students who identify as first in their family to graduate from college. The program is an initiative lead by students to support the disproportionately small numbers of first-generation college admitted students to graduation.
            <br /><br />
            The cohort of students that self-identify into the program benefit from various support programs and services, and extensive campus referral networks.
            <br /><br />
            First Gen Fellows seeks to support first generation students successfully transition into college life while
            <br />cultivating investment and engagement in the University Community. This goal is accomplished through a
            <br />cohort based program where each student moves from 3 phases – 1. Learning the Language, 2. Empowerment,
            <br /> 3. Leadership. In each phase students will seek and discover affinities about themselves and their communities.
        </p>
    </div>
</div>
